<h1>Welcome</h1>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments"></i></div>
        <div class="count"><%= @user_statistic.total_questions %></div>
        <h3>Total</h3>
        <p>Answered questions</p>
    </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-check"></i></div>
        <div class="count"><%= @user_statistic.right_questions %></div>
        <h3>Right</h3>
        <p>Right answered questions</p>
    </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-times"></i></div>
        <div class="count"><%= @user_statistic.wrong_questions %></div>
        <h3>Wrong</h3>
        <p>Wrong answered questions</p>
    </div>
</div>
